<body class="bg-sky-900 p-6">
    <div class="grid grid-cols-5 justify-items-center">
        <button class="bg-sky-900 border h-10 w-24 rounded-lg hover:bg-sky-950">Inicio</button>
        <button class="bg-sky-900 border h-10 w-24 rounded-lg hover:bg-sky-950">Progreso</button>
        <button class="bg-sky-900 border h-10 w-24 rounded-lg hover:bg-sky-950">Niveles</button>
        <button class="bg-sky-900 border h-10 w-24 rounded-lg hover:bg-sky-950">Personajes</button>
        <button class="bg-sky-900 border h-10 w-24 rounded-lg hover:bg-sky-950">Avatar</button>
    </div>
</body>