<body>
	<div class="h-screen flex items-center">
		<section class="w-full bg-cover bg-center py-32" style="background-image: url('https://cdn2.steamgriddb.com/hero/7e77e4a1b051ec0a510b48eaec2f3a3c.png');">
			<div class="container mx-auto text-center text-white">
				<h1 class="text-5xl font-medium mb-6">Bienvenido a Rabbids</h1>
				<p class="text-xl mb-12">El Nuevo Juego interactivo para cuidar tu higiene personal y cuidar a tu rabbid</p>
				<a href="#" class="bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600">Play Beta</a>
			</div>
		</section>
	</div>	
</body>

